/*  color 
#3D518C
#5FA8D3
#CAE9FF
#D5ACA9
#C6ECAE
*/


/*stuff for forms */
form {
    max-width: 500px;
    padding: 20px;
    margin: 20px;
    background-color: #CAE9FF; 
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  border: 2px solid transparent;
  font-size: 16px;
  height: auto;
  padding: 15px;
  width: 90%;
  background-color: #5FA8D3;
  color: #CAE9FF;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  border-radius: 0.3rem;
}

input::placeholder,
textarea::placeholder {
  color: #CAE9FF;
}

label:required {
  color: red;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
  background-color: #5FA8D3;
  border: none;
  color: #CAE9FF;
  border-radius: 0.3rem;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 80%;
  padding: 10px;
}

button:hover,
button:focus {
  background-color: #3D518C;
  color: #CAE9FF;

}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #2b0047;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
}
