
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.home {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background-color:#3D518C;
    padding: 5px;
    border-radius: 5px;
}

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: 1fr 1fr; /* Two rows: one for the title, one for the dropdown */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full width */
}

.inline{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
/* Title styling */
.title {
    grid-row: 1; /* Place in the first row */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    font-size: large;
    padding: 10px;
    background-color: #f0f0f0; /* Optional background for contrast */
}

.Question-Answer-Pair{
    display: block;
    background-color: lightgrey;
    border-radius: 5px;
    padding:10px;
}

.Services {
    
    top: 10px;
    right: 10px;
    color: white;
    background-color:#3D518C;
    padding: 5px;
    border-radius: 5px;
}
.Q{
    min-height: 20px;
}
