/*  color 
#3D518C
#5FA8D3
#CAE9FF
#D5ACA9
#C6ECAE
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.bio {
    background-color: #CAE9FF; 
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.bio h1 {
    font-size: 1.6em;
    color: #3D518C; 
    margin-bottom: 10px;
    margin: 0;
}

.bio h2 {
    font-size: 1.2em;
    margin: 0;
    color: #5FA8D3; 

}

.bio p {
    font-size: 0.7em;
}

img {
    margin: 20px;
    margin-bottom: 0;
    max-width: 800px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: #5FA8D3;
    border: none;
    color: #CAE9FF;
    border-radius: 0.3rem;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    padding: 10px;
}

.button:hover,
.button:focus {
    background-color: #3D518C;
    color: #CAE9FF;
}

a{
    text-decoration:none;
}

.photo-button a:hover{
    color:white
}

.photo-button a:focus{
    color:white
}
.photo-button {
    background-image: url('images/test.jpg'); 
    background-size: cover; 
    background-position: center; 
    border: none; 
    border-radius: 8px; 
    color: #3D518C;
    text-decoration: bold;
    font-size: 4rem; 
    text-align: center;
    padding: 10px 20px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s, box-shadow 0.2s; 
    margin: 1.5rem; 
}

.photo-button:hover, .photo-button:focus {
    transform: scale(1.05); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
}

.photo-button.one {
    background-image: url('images/services.png'); 
}

.photo-button.two {
    background-image: url('images/nutrition.png'); 
}

.photo-button.three {
    background-image: url('images/faq.png'); 
}

  
@media screen and (min-width: 768px) {    
    body {
        display: grid;
        grid-template-areas:
            "header header header"
            "image bio bio"
            "button1 button2 button3"
            "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 20px;
    }

    header {
        grid-area: header;
        text-align: center;
    }

    img {
        grid-area: image;
        max-width: 100%;
        align-self: center;
        margin-top:7rem;
    }

    .bio {
        grid-area: bio;
        font-size:1.5rem;
        margin-top:7rem;
    }

    .photo-button.one {
        grid-area: button1;
        margin: 10px;
    }

    .photo-button.two {
        grid-area: button2;
        margin: 10px;
    }

    .photo-button.three {
        grid-area: button3;
        margin: 10px;
    }

    footer {
        grid-area: footer;
        text-align: center;
        margin-top: 20px;
    }
}

