/*  color 
#3D518C
#5FA8D3
#CAE9FF
#D5ACA9
#C6ECAE
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

p {
    font-size: 13px;
}

.quote-img {
    background-image: url('images/test.jpg'); 
    background-size: cover; 
    background-position: center; 
    border: none; 
    border-radius: 8px; 
    color: #3D518C;
    font-size: 18px; 
    padding: 10px 20px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    margin: 1.5rem; 
}

.home {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background-color:#3D518C;
    padding: 5px;
    border-radius: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(3, 1fr); 
    height: 100vh; 
    width: 100vw;
  }
  
  .top-text{
    display: flex;
    justify-content: center;
    align-items:center;
    
  }
  .left-column{
    grid-row: span 3;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    background-color: #f0f0f0; 
  }
  
  .left-column {
    grid-column: 1; 
  }
  
  
  .center-row {
    display: grid;
    grid-column: 2; 
    grid-template-rows: 1fr 1fr 1fr; 
   
  }
  
  .center-item {
    background-color: #007BFF; 
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }

.box.desc p {
    font-size: 1em;
}

.box h1 {
    font-size: 1.8em;
    color: #3D518C; 
    margin-bottom: 10px;
}

img {
    margin: 20px;
    margin-bottom: 0;
    max-width: 800px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}





.mealprep {
    display: flex;
    align-items: stretch;
}

.mealprep img {
    width: 40%;
    object-fit: cover;
    height: auto;
    max-height: 100%;
}

.mealprep-words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.mealprep p {
    font-size: 12px;
}

.mealprep h2 {
    font-size: 1rem;
    margin-bottom: 0;
}


@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-areas:
            "header header"
            "l1 r1"
            "l2 r1"
            "l3 r1"
            "footer footer"
            "footer footer";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(6, auto);
    }

    header {
        grid-area: header;
    }

    .quote-img {
        background-image: url('images/test.jpg'); 
        background-size: cover; 
        background-position: center; 
        border: none; 
        border-radius: 8px; 
        color: #3D518C;
        font-size: 18px; 
        padding: 10px 20px;
        padding-top: 3rem;
        padding-bottom: 3rem;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
        margin: 1.5rem; 
        grid-area: quote;
    }

    .home {
        grid-area: header;
    }

    .box.cert {
        grid-area: r1; 
    }

    .items {
        grid-area: l1;
    }
    
    .footer {
        grid-area: footer;
    }
}