/*  color 
#3D518C
#5FA8D3
#CAE9FF
#D5ACA9
#C6ECAE
*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(222, 242, 255); 
    color: #3D518C;
    line-height: 1.6;
}s

p {
    font-size: 1em;
}

header {
    background-color: #CAE9FF; 
    padding: 20px;
    text-align: center;
    display: flex;
}


header h1 {
    text-transform: uppercase;
    justify-content: start;

}

h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #3D518C;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    border-radius: 1rem;
}

.bio {
    background-color: #CAE9FF; 
    padding: 20px;
    margin: 20px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.bio h1 {
    font-size: 2em;
    color: #3D518C; 
    margin-bottom: 10px;
}


/*stuff for forms */
form {
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #d499ce;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  font-size: 16px;
  height: auto;
  padding: 15px;
  width: 100%;
  background-color: #e60cac;
  color: #efdaf6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  caret-color: purple;
}

input::placeholder,
textarea::placeholder {
  color: pink;
}

label:required {
  color: red;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  background: pink;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  color: #ff00ae;
  background-color: pink;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 50%;
}

button:hover,
button:focus {
  background-color: pink;
  color: black;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #2b0047;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
}
